:root {
    .menu {
        text-align: center!important;
    }
    
    .container {
        top: -40px;
    }

    .hero.is-fullheight.welcome {
        background-position-y: 0px!important;
    }

}
