<style>
    body {
        background-color: var(--section-light-bg-color);
    }
    .my_form {
        display: flex;
        flex-direction: column;
    }
    .post-content img {
        display: block;
        max-width: 100%;
        margin: 0 auto;
        max-height: 75vh;
    }

    #site-head, #site-head.withCenteredImage {
        background-position: top;
        background-position-y: 35%;
    }

    :root {
        --cover-text-color: black;
        --highlight: teal;
        --highlight-contrast: var(--cover-text-color);
        --highlight-inverse: var(--cover-text-color);
        --highlight-inverse-contrast: white;
        --cover-title-and-description-guard-bg-color: rgba(255, 255, 255, 0.6);
        --cover-title-text-shadow: white 0px 0px 7px;
        --sticky-menu-text-color: #9fd067;
        --section-light-text-color: #3a4145;
        --section-light-bg-color: yellow;
        --section-dark-text-color: var(--section-light-bg-color);
        --section-dark-bg-color: purple;
        --section-uni-quote: grey;
        --section-uni-code-bg-color: #e0ded7;
        --footer-color-background: #22343a;
        --footer-color: #bbc7cc;
    }

</style>
